<?xml version="1.0" encoding="GBK"?>
<!-- Created by xu_lw on 2020-10-29 17:46:05. -->
<mapper namespace="com.murong.ecp.netpay.whefss.web.pub.dal.dao.WhefssAccRepealMapper">
    <select id="selectByPrimaryKey" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REPEAL where notice_num = #{noticeNum} 
    </select>

    <!-- 分页查询id后缀必须为Page -->
    <select id="selectPage" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REPEAL where notice_num like '%%${noticeNum}%%' or contract_num like '%%${contractNum}%%' or bank_code like '%%${bankCode}%%' or bank_name like '%%${bankName}%%' or branch_name like '%%${branchName}%%' or account_name like '%%${accountName}%%' or account_num like '%%${accountNum}%%' or org_sn like '%%${orgSn}%%' or org_time like '%%${orgTime}%%' or sn like '%%${sn}%%' or time like '%%${time}%%' or send_status like '%%${sendStatus}%%' or resp_code like '%%${respCode}%%' or resp_msg like '%%${respMsg}%%' or sys_tranid like '%%${sysTranid}%%' or sys_time like '%%${sysTime}%%' or user_id like '%%${userId}%%' or user_name like '%%${userName}%%' or batch_num like '%%${batchNum}%%' or reserve1 like '%%${reserve1}%%' or reserve2 like '%%${reserve2}%%' or reserve3 like '%%${reserve3}%%'  order by notice_num
    </select>

    <select id="selectChk" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REPEAL
        where ACCOUNT_NUM = #{accountNum}
        and substr(TIME,1,8) = #{time}
        and SEND_STATUS in('00','04')
    </select>

    <select id="tranRecordPage" resultType="com.murong.ecp.netpay.whefss.web.pub.model.TranRecordRspBO">
        select time tran_time,sn,account_num,'' to_account,'' to_account_name,notice_num,send_status,amount tran_amt,'0' commission
        from WHEFSS_ACC_REPEAL
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="noticeNum !=null and noticeNum !=''">
                notice_num = #{noticeNum}
            </if>
            <if test="sn !=null and sn !=''">
                AND sn = #{sn}
            </if>
            <if test="accountNum !=null and accountNum !=''">
                AND account_num = #{accountNum}
            </if>
            <if test="startDate !=null and startDate !=''">
                AND time = #{startDate}
            </if>
            <if test="endDate !=null and endDate !=''">
                AND time = #{endDate}
            </if>
        </trim>
    </select>


    <!-- 游标后缀必须为Cursor -->
    <select id="selectCursor" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REPEAL
    </select>

    <!-- 查询id后缀必须为ResultHandler -->
    <select id="selectResultHandler" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REPEAL
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        delete from  WHEFSS_ACC_REPEAL where notice_num = #{noticeNum} 
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from  WHEFSS_ACC_REPEAL where id in (${ids})
    </delete>

    <update id="updateByBatchNum" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        update WHEFSS_ACC_REPEAL
        set send_status=#{sendStatus}
        where batch_num=#{batchNum}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        update  WHEFSS_ACC_REPEAL
        <trim prefix="set" suffixOverrides = ",">
                <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
                <if test="isNotNull(contractNum)">contract_num=#{contractNum},</if>
                <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
                <if test="isNotNull(bankName)">bank_name=#{bankName},</if>
                <if test="isNotNull(branchName)">branch_name=#{branchName},</if>
                <if test="isNotNull(accountName)">account_name=#{accountName},</if>
                <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
                <if test="isNotNull(amount)">amount=#{amount},</if>
                <if test="isNotNull(orgSn)">org_sn=#{orgSn},</if>
                <if test="isNotNull(orgTime)">org_time=#{orgTime},</if>
                <if test="isNotNull(sn)">sn=#{sn},</if>
                <if test="isNotNull(time)">time=#{time},</if>
                <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
                <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
                <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
                <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
                <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
                <if test="isNotNull(userId)">user_id=#{userId},</if>
                <if test="isNotNull(userName)">user_name=#{userName},</if>
                <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
                <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
                <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
                <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        update  WHEFSS_ACC_REPEAL
        <trim prefix="set" suffixOverrides = ",">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(contractNum)">contract_num=#{contractNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(bankName)">bank_name=#{bankName},</if>
            <if test="isNotNull(branchName)">branch_name=#{branchName},</if>
            <if test="isNotNull(accountName)">account_name=#{accountName},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(amount)">amount=#{amount},</if>
            <if test="isNotNull(orgSn)">org_sn=#{orgSn},</if>
            <if test="isNotNull(orgTime)">org_time=#{orgTime},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
            <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <insert id="insert" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        insert  into WHEFSS_ACC_REPEAL(notice_num, contract_num, bank_code, bank_name, branch_name, account_name, account_num, amount, org_sn, org_time, sn, time, send_status, resp_code, resp_msg, sys_tranid, sys_time, user_id, user_name, batch_num, reserve1, reserve2, reserve3)
        values( #{noticeNum}, #{contractNum}, #{bankCode}, #{bankName}, #{branchName}, #{accountName}, #{accountNum}, #{amount}, #{orgSn}, #{orgTime}, #{sn}, #{time}, #{sendStatus}, #{respCode}, #{respMsg}, #{sysTranid}, #{sysTime}, #{userId}, #{userName}, #{batchNum}, #{reserve1}, #{reserve2}, #{reserve3})
    </insert>

    <insert id="insertSelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRepealDO">
        insert  into WHEFSS_ACC_REPEAL
        <trim prefix="(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">notice_num,</if>
            <if test="isNotNull(contractNum)">contract_num,</if>
            <if test="isNotNull(bankCode)">bank_code,</if>
            <if test="isNotNull(bankName)">bank_name,</if>
            <if test="isNotNull(branchName)">branch_name,</if>
            <if test="isNotNull(accountName)">account_name,</if>
            <if test="isNotNull(accountNum)">account_num,</if>
            <if test="isNotNull(amount)">amount,</if>
            <if test="isNotNull(orgSn)">org_sn,</if>
            <if test="isNotNull(orgTime)">org_time,</if>
            <if test="isNotNull(sn)">sn,</if>
            <if test="isNotNull(time)">time,</if>
            <if test="isNotNull(sendStatus)">send_status,</if>
            <if test="isNotNull(respCode)">resp_code,</if>
            <if test="isNotNull(respMsg)">resp_msg,</if>
            <if test="isNotNull(sysTranid)">sys_tranid,</if>
            <if test="isNotNull(sysTime)">sys_time,</if>
            <if test="isNotNull(userId)">user_id,</if>
            <if test="isNotNull(userName)">user_name,</if>
            <if test="isNotNull(batchNum)">batch_num,</if>
            <if test="isNotNull(reserve1)">reserve1,</if>
            <if test="isNotNull(reserve2)">reserve2,</if>
            <if test="isNotNull(reserve3)">reserve3,</if>
        </trim>
        <trim prefix="values(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">#{noticeNum},</if>
            <if test="isNotNull(contractNum)">#{contractNum},</if>
            <if test="isNotNull(bankCode)">#{bankCode},</if>
            <if test="isNotNull(bankName)">#{bankName},</if>
            <if test="isNotNull(branchName)">#{branchName},</if>
            <if test="isNotNull(accountName)">#{accountName},</if>
            <if test="isNotNull(accountNum)">#{accountNum},</if>
            <if test="isNotNull(amount)">#{amount},</if>
            <if test="isNotNull(orgSn)">#{orgSn},</if>
            <if test="isNotNull(orgTime)">#{orgTime},</if>
            <if test="isNotNull(sn)">#{sn},</if>
            <if test="isNotNull(time)">#{time},</if>
            <if test="isNotNull(sendStatus)">#{sendStatus},</if>
            <if test="isNotNull(respCode)">#{respCode},</if>
            <if test="isNotNull(respMsg)">#{respMsg},</if>
            <if test="isNotNull(sysTranid)">#{sysTranid},</if>
            <if test="isNotNull(sysTime)">#{sysTime},</if>
            <if test="isNotNull(userId)">#{userId},</if>
            <if test="isNotNull(userName)">#{userName},</if>
            <if test="isNotNull(batchNum)">#{batchNum},</if>
            <if test="isNotNull(reserve1)">#{reserve1},</if>
            <if test="isNotNull(reserve2)">#{reserve2},</if>
            <if test="isNotNull(reserve3)">#{reserve3},</if>
        </trim>
    </insert>

    <sql id="base_column_list">
    notice_num, contract_num, bank_code, bank_name, branch_name, account_name, account_num, amount, org_sn, org_time, sn, time, send_status, resp_code, resp_msg, sys_tranid, sys_time, user_id, user_name, batch_num, reserve1, reserve2, reserve3
    </sql>

    <sql id="where_condition">
        <trim prefix="where" prefixOverrides="and">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(contractNum)">contract_num=#{contractNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(bankName)">bank_name=#{bankName},</if>
            <if test="isNotNull(branchName)">branch_name=#{branchName},</if>
            <if test="isNotNull(accountName)">account_name=#{accountName},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(amount)">amount=#{amount},</if>
            <if test="isNotNull(orgSn)">org_sn=#{orgSn},</if>
            <if test="isNotNull(orgTime)">org_time=#{orgTime},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
            <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
    </sql>
</mapper>
