<?xml version="1.0" encoding="GBK"?>
<!-- Created by xu_lw on 2020-10-29 17:48:12. -->
<mapper namespace="com.murong.ecp.netpay.whefss.web.pub.dal.dao.WhefssAccPosInSendMapper">
    <select id="selectByPrimaryKey" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_POS_IN_SEND where notice_num = #{noticeNum} 
    </select>

    <!-- 分页查询id后缀必须为Page -->
    <select id="selectPage" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_POS_IN_SEND where notice_num like '%%${noticeNum}%%' or bank_code like '%%${bankCode}%%' or account_num like '%%${accountNum}%%' or time like '%%${time}%%' or sn like '%%${sn}%%' or send_status like '%%${sendStatus}%%' or batch_num like '%%${batchNum}%%' or user_id like '%%${userId}%%' or user_name like '%%${userName}%%' or sys_tranid like '%%${sysTranid}%%' or sys_time like '%%${sysTime}%%' or reserve1 like '%%${reserve1}%%' or reserve2 like '%%${reserve2}%%' or reserve3 like '%%${reserve3}%%'  order by notice_num
    </select>

    <update id="updateByBatchNum" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        update WHEFSS_ACC_POS_IN_SEND
        set send_status=#{sendStatus}
        where batch_num=#{batchNum}
    </update>

    <select id="tranRecordPage" resultType="com.murong.ecp.netpay.whefss.web.pub.model.TranRecordRspBO">
        select time tran_time,sn,account_num,'' to_account,'' to_account_name,notice_num,send_status,REAL_IN tran_amt,commission
        from WHEFSS_ACC_POS_IN_SEND
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="noticeNum !=null and noticeNum !=''">
                notice_num = #{noticeNum}
            </if>
            <if test="sn !=null and sn !=''">
                AND sn = #{sn}
            </if>
            <if test="accountNum !=null and accountNum !=''">
                AND account_num = #{accountNum}
            </if>
            <if test="startDate !=null and startDate !=''">
                AND time = #{startDate}
            </if>
            <if test="endDate !=null and endDate !=''">
                AND time = #{endDate}
            </if>
        </trim>
    </select>

    <!-- 游标后缀必须为Cursor -->
    <select id="selectCursor" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_POS_IN_SEND
    </select>

    <select id="selectChk" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_POS_IN_SEND
        where ACCOUNT_NUM = #{accountNum}
        and substr(TIME,1,8) = #{time}
        and SEND_STATUS in('00','04')
    </select>

    <!-- 查询id后缀必须为ResultHandler -->
    <select id="selectResultHandler" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_POS_IN_SEND
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        delete from  WHEFSS_ACC_POS_IN_SEND where notice_num = #{noticeNum} 
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from  WHEFSS_ACC_POS_IN_SEND where id in (${ids})
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        update  WHEFSS_ACC_POS_IN_SEND
        <trim prefix="set" suffixOverrides = ",">
                <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
                <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
                <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
                <if test="isNotNull(realIn)">real_in=#{realIn},</if>
                <if test="isNotNull(commission)">commission=#{commission},</if>
                <if test="isNotNull(time)">time=#{time},</if>
                <if test="isNotNull(sn)">sn=#{sn},</if>
                <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
                <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
                <if test="isNotNull(userId)">user_id=#{userId},</if>
                <if test="isNotNull(userName)">user_name=#{userName},</if>
                <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
                <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
                <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
                <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
                <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        update  WHEFSS_ACC_POS_IN_SEND
        <trim prefix="set" suffixOverrides = ",">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(realIn)">real_in=#{realIn},</if>
            <if test="isNotNull(commission)">commission=#{commission},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <insert id="insert" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        insert  into WHEFSS_ACC_POS_IN_SEND(notice_num, bank_code, account_num, real_in, commission, time, sn, send_status, batch_num, user_id, user_name, sys_tranid, sys_time, reserve1, reserve2, reserve3)
        values( #{noticeNum}, #{bankCode}, #{accountNum}, #{realIn}, #{commission}, #{time}, #{sn}, #{sendStatus}, #{batchNum}, #{userId}, #{userName}, #{sysTranid}, #{sysTime}, #{reserve1}, #{reserve2}, #{reserve3})
    </insert>

    <insert id="insert" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        insert  into WHEFSS_ACC_POS_IN_SEND(notice_num, bank_code, account_num, real_in, commission, time, sn, send_status)
        values( #{noticeNum}, #{bankCode}, #{accountNum}, #{realIn}, #{commission}, #{time}, #{sn}, #{sendStatus})
    </insert>

    <insert id="insertSelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccPosInSendDO">
        insert  into WHEFSS_ACC_POS_IN_SEND
        <trim prefix="(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">notice_num,</if>
            <if test="isNotNull(bankCode)">bank_code,</if>
            <if test="isNotNull(accountNum)">account_num,</if>
            <if test="isNotNull(real_in)">real_in,</if>
            <if test="isNotNull(commission)">commission,</if>
            <if test="isNotNull(time)">time,</if>
            <if test="isNotNull(sn)">sn,</if>
            <if test="isNotNull(sendStatus)">send_status,</if>
            <if test="isNotNull(batchNum)">batch_num,</if>
            <if test="isNotNull(userId)">user_id,</if>
            <if test="isNotNull(userName)">user_name,</if>
            <if test="isNotNull(sysTranid)">sys_tranid,</if>
            <if test="isNotNull(sysTime)">sys_time,</if>
            <if test="isNotNull(reserve1)">reserve1,</if>
            <if test="isNotNull(reserve2)">reserve2,</if>
            <if test="isNotNull(reserve3)">reserve3,</if>
        </trim>
        <trim prefix="values(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">#{noticeNum},</if>
            <if test="isNotNull(bankCode)">#{bankCode},</if>
            <if test="isNotNull(accountNum)">#{accountNum},</if>
            <if test="isNotNull(real_in)">#{real_in},</if>
            <if test="isNotNull(commission)">#{commission},</if>
            <if test="isNotNull(time)">#{time},</if>
            <if test="isNotNull(sn)">#{sn},</if>
            <if test="isNotNull(sendStatus)">#{sendStatus},</if>
            <if test="isNotNull(batchNum)">#{batchNum},</if>
            <if test="isNotNull(userId)">#{userId},</if>
            <if test="isNotNull(userName)">#{userName},</if>
            <if test="isNotNull(sysTranid)">#{sysTranid},</if>
            <if test="isNotNull(sysTime)">#{sysTime},</if>
            <if test="isNotNull(reserve1)">#{reserve1},</if>
            <if test="isNotNull(reserve2)">#{reserve2},</if>
            <if test="isNotNull(reserve3)">#{reserve3},</if>
        </trim>
    </insert>

    <sql id="base_column_list">
    notice_num, bank_code, account_num, real_in, commission, time, sn, send_status, batch_num, user_id, user_name, sys_tranid, sys_time, reserve1, reserve2, reserve3
    </sql>

    <sql id="where_condition">
        <trim prefix="where" prefixOverrides="and">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(realIn)">real_in=#{realIn},</if>
            <if test="isNotNull(commission)">commission=#{commission},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
    </sql>
</mapper>
