<?xml version="1.0" encoding="GBK"?>
<!-- Created by xu_lw on 2020-10-29 17:51:16. -->
<mapper namespace="com.murong.ecp.netpay.whefss.web.pub.dal.dao.WhefssAccRefundFailedMapper">
    <select id="selectByPrimaryKey" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REFUND_FAILED where notice_num = #{noticeNum} 
    </select>

    <!-- 分页查询id后缀必须为Page -->
    <select id="selectPage" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REFUND_FAILED where notice_num like '%%${noticeNum}%%' or account_num like '%%${accountNum}%%' or bank_code like '%%${bankCode}%%' or corp_account_name like '%%${corpAccountName}%%' or corp_account_num like '%%${corpAccountNum}%%' or corp_account_bank like '%%${corpAccountBank}%%' or reason like '%%${reason}%%' or time like '%%${time}%%' or sn like '%%${sn}%%' or send_status like '%%${sendStatus}%%' or resp_code like '%%${respCode}%%' or resp_msg like '%%${respMsg}%%' or sys_tranid like '%%${sysTranid}%%' or sys_time like '%%${sysTime}%%' or user_id like '%%${userId}%%' or user_name like '%%${userName}%%' or batch_num like '%%${batchNum}%%' or reserve1 like '%%${reserve1}%%' or reserve2 like '%%${reserve2}%%' or reserve3 like '%%${reserve3}%%'  order by notice_num
    </select>

    <!-- 游标后缀必须为Cursor -->
    <select id="selectCursor" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REFUND_FAILED
    </select>

    <!-- 查询id后缀必须为ResultHandler -->
    <select id="selectResultHandler" resultType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        select <include refid="base_column_list"/>
        from WHEFSS_ACC_REFUND_FAILED
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        delete from  WHEFSS_ACC_REFUND_FAILED where notice_num = #{noticeNum} 
    </delete>

    <delete id="deleteByIds" parameterType="java.lang.String">
        delete from  WHEFSS_ACC_REFUND_FAILED where id in (${ids})
    </delete>

    <update id="updateByPrimaryKey" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        update  WHEFSS_ACC_REFUND_FAILED
        <trim prefix="set" suffixOverrides = ",">
                <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
                <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
                <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
                <if test="isNotNull(corpAccountName)">corp_account_name=#{corpAccountName},</if>
                <if test="isNotNull(corpAccountNum)">corp_account_num=#{corpAccountNum},</if>
                <if test="isNotNull(corpAccountBank)">corp_account_bank=#{corpAccountBank},</if>
                <if test="isNotNull(refundPrice)">refund_price=#{refundPrice},</if>
                <if test="isNotNull(reason)">reason=#{reason},</if>
                <if test="isNotNull(time)">time=#{time},</if>
                <if test="isNotNull(sn)">sn=#{sn},</if>
                <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
                <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
                <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
                <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
                <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
                <if test="isNotNull(userId)">user_id=#{userId},</if>
                <if test="isNotNull(userName)">user_name=#{userName},</if>
                <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
                <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
                <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
                <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        update  WHEFSS_ACC_REFUND_FAILED
        <trim prefix="set" suffixOverrides = ",">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(corpAccountName)">corp_account_name=#{corpAccountName},</if>
            <if test="isNotNull(corpAccountNum)">corp_account_num=#{corpAccountNum},</if>
            <if test="isNotNull(corpAccountBank)">corp_account_bank=#{corpAccountBank},</if>
            <if test="isNotNull(refundPrice)">refund_price=#{refundPrice},</if>
            <if test="isNotNull(reason)">reason=#{reason},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
            <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
        where notice_num = #{noticeNum} 
    </update>

    <insert id="insert" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        insert  into WHEFSS_ACC_REFUND_FAILED(notice_num, account_num, bank_code, corp_account_name, corp_account_num, corp_account_bank, refund_price, reason, time, sn, send_status, resp_code, resp_msg, sys_tranid, sys_time, user_id, user_name, batch_num, reserve1, reserve2, reserve3)
        values( #{noticeNum}, #{accountNum}, #{bankCode}, #{corpAccountName}, #{corpAccountNum}, #{corpAccountBank}, #{refundPrice}, #{reason}, #{time}, #{sn}, #{sendStatus}, #{respCode}, #{respMsg}, #{sysTranid}, #{sysTime}, #{userId}, #{userName}, #{batchNum}, #{reserve1}, #{reserve2}, #{reserve3})
    </insert>

    <insert id="insertSelective" parameterType="com.murong.ecp.netpay.whefss.web.pub.dal.entity.WhefssAccRefundFailedDO">
        insert  into WHEFSS_ACC_REFUND_FAILED
        <trim prefix="(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">notice_num,</if>
            <if test="isNotNull(accountNum)">account_num,</if>
            <if test="isNotNull(bankCode)">bank_code,</if>
            <if test="isNotNull(corpAccountName)">corp_account_name,</if>
            <if test="isNotNull(corpAccountNum)">corp_account_num,</if>
            <if test="isNotNull(corpAccountBank)">corp_account_bank,</if>
            <if test="isNotNull(refundPrice)">refund_price,</if>
            <if test="isNotNull(reason)">reason,</if>
            <if test="isNotNull(time)">time,</if>
            <if test="isNotNull(sn)">sn,</if>
            <if test="isNotNull(sendStatus)">send_status,</if>
            <if test="isNotNull(respCode)">resp_code,</if>
            <if test="isNotNull(respMsg)">resp_msg,</if>
            <if test="isNotNull(sysTranid)">sys_tranid,</if>
            <if test="isNotNull(sysTime)">sys_time,</if>
            <if test="isNotNull(userId)">user_id,</if>
            <if test="isNotNull(userName)">user_name,</if>
            <if test="isNotNull(batchNum)">batch_num,</if>
            <if test="isNotNull(reserve1)">reserve1,</if>
            <if test="isNotNull(reserve2)">reserve2,</if>
            <if test="isNotNull(reserve3)">reserve3,</if>
        </trim>
        <trim prefix="values(" suffix=')' suffixOverrides=",">
            <if test="isNotNull(noticeNum)">#{noticeNum},</if>
            <if test="isNotNull(accountNum)">#{accountNum},</if>
            <if test="isNotNull(bankCode)">#{bankCode},</if>
            <if test="isNotNull(corpAccountName)">#{corpAccountName},</if>
            <if test="isNotNull(corpAccountNum)">#{corpAccountNum},</if>
            <if test="isNotNull(corpAccountBank)">#{corpAccountBank},</if>
            <if test="isNotNull(refundPrice)">#{refundPrice},</if>
            <if test="isNotNull(reason)">#{reason},</if>
            <if test="isNotNull(time)">#{time},</if>
            <if test="isNotNull(sn)">#{sn},</if>
            <if test="isNotNull(sendStatus)">#{sendStatus},</if>
            <if test="isNotNull(respCode)">#{respCode},</if>
            <if test="isNotNull(respMsg)">#{respMsg},</if>
            <if test="isNotNull(sysTranid)">#{sysTranid},</if>
            <if test="isNotNull(sysTime)">#{sysTime},</if>
            <if test="isNotNull(userId)">#{userId},</if>
            <if test="isNotNull(userName)">#{userName},</if>
            <if test="isNotNull(batchNum)">#{batchNum},</if>
            <if test="isNotNull(reserve1)">#{reserve1},</if>
            <if test="isNotNull(reserve2)">#{reserve2},</if>
            <if test="isNotNull(reserve3)">#{reserve3},</if>
        </trim>
    </insert>

    <sql id="base_column_list">
    notice_num, account_num, bank_code, corp_account_name, corp_account_num, corp_account_bank, refund_price, reason, time, sn, send_status, resp_code, resp_msg, sys_tranid, sys_time, user_id, user_name, batch_num, reserve1, reserve2, reserve3
    </sql>

    <sql id="where_condition">
        <trim prefix="where" prefixOverrides="and">
            <if test="isNotNull(noticeNum)">notice_num=#{noticeNum},</if>
            <if test="isNotNull(accountNum)">account_num=#{accountNum},</if>
            <if test="isNotNull(bankCode)">bank_code=#{bankCode},</if>
            <if test="isNotNull(corpAccountName)">corp_account_name=#{corpAccountName},</if>
            <if test="isNotNull(corpAccountNum)">corp_account_num=#{corpAccountNum},</if>
            <if test="isNotNull(corpAccountBank)">corp_account_bank=#{corpAccountBank},</if>
            <if test="isNotNull(refundPrice)">refund_price=#{refundPrice},</if>
            <if test="isNotNull(reason)">reason=#{reason},</if>
            <if test="isNotNull(time)">time=#{time},</if>
            <if test="isNotNull(sn)">sn=#{sn},</if>
            <if test="isNotNull(sendStatus)">send_status=#{sendStatus},</if>
            <if test="isNotNull(respCode)">resp_code=#{respCode},</if>
            <if test="isNotNull(respMsg)">resp_msg=#{respMsg},</if>
            <if test="isNotNull(sysTranid)">sys_tranid=#{sysTranid},</if>
            <if test="isNotNull(sysTime)">sys_time=#{sysTime},</if>
            <if test="isNotNull(userId)">user_id=#{userId},</if>
            <if test="isNotNull(userName)">user_name=#{userName},</if>
            <if test="isNotNull(batchNum)">batch_num=#{batchNum},</if>
            <if test="isNotNull(reserve1)">reserve1=#{reserve1},</if>
            <if test="isNotNull(reserve2)">reserve2=#{reserve2},</if>
            <if test="isNotNull(reserve3)">reserve3=#{reserve3},</if>
        </trim>
    </sql>
</mapper>
